In [1]:
import pandas as pd
import numpy as np

bmi_input = [
    {"Gender": "Male", "HeightCm": 171, "WeightKg": 96},
    {"Gender": "Male", "HeightCm": 161, "WeightKg": 85},
    {"Gender": "Male", "HeightCm": 180, "WeightKg": 77},
    {"Gender": "Female", "HeightCm": 166, "WeightKg": 62},
    {"Gender": "Female", "HeightCm": 150, "WeightKg": 70},
    {"Gender": "Female", "HeightCm": 167, "WeightKg": 82}
]

bmi_table = [
    {"category": "Underweight", "range_min": 0, "range_max": 18.4, "risk": "Malnutrition risk"},
    {"category": "Normal weight", "range_min": 18.5, "range_max": 24.9, "risk": "Low risk"},
    {"category": "Overweight", "range_min": 25, "range_max": 29.9, "risk": "Enhanced risk"},
    {"category": "Moderately obese", "range_min": 30, "range_max": 34.9, "risk": "Medium risk"},
    {"category": "Severely obese", "range_min": 35, "range_max": 39.9, "risk": "High risk"},
    {"category": "Very severely obese", "range_min": 40, "range_max": 0, "risk": "Very high risk"},
]

In [6]:
bmi_table_df = pd.DataFrame(bmi_table * 10000)
bmi_table_df.head()

           category  range_min  range_max               risk
0       Underweight        0.0       18.4  Malnutrition risk
1     Normal weight       18.5       24.9           Low risk
2        Overweight       25.0       29.9      Enhanced risk
3  Moderately obese       30.0       34.9        Medium risk
4    Severely obese       35.0       39.9          High risk

In [7]:
bmi_table_df.drop_duplicates()
bmi_table_df.shape

(60000, 4)

In [26]:
def get_risk(bmi):
    result_list = list(bmi_table_df['range_max'] >= bmi) & (bmi_table_df['range_min'] <= bmi)
    result_index = result_list[result_list == True]
    risk = bmi_table_df["risk"][result_index.index[0]]
    return str(risk)

In [27]:
bmi_input_df = pd.DataFrame(bmi_input)
bmi_input_df.head()

   Gender  HeightCm  WeightKg
0    Male       171        96
1    Male       161        85
2    Male       180        77
3  Female       166        62
4  Female       150        70

In [28]:
bmi_input_df["bmi"] = round(bmi_input_df['WeightKg'] / (bmi_input_df['HeightCm']/100) ** 2, 2)
bmi_input_df.head()

   Gender  HeightCm  WeightKg    bmi
0    Male       171        96  32.83
1    Male       161        85  32.79
2    Male       180        77  23.77
3  Female       166        62  22.50
4  Female       150        70  31.11

In [29]:
bmi = 23.6
result_list = np.array(bmi_table_df['range_max'] >= bmi) & (bmi_table_df['range_min'] <= bmi)
print(result_list)

0    False
1     True
2    False
3    False
4    False
5    False
Name: range_min, dtype: bool